<section class="about">
  <p class="lead">
    Hi, I'm {{ site.name }}. I'm a Software Developer who wanted a place to share music that I'm excited about. Below you can find my Github and Spotify profiles. If you want to get in touch, you can press the button below.
  </p>

  <div class="links">
    <a class="button" [href]="site.githubUrl" target="_blank" rel="noopener noreferrer">
      GitHub · @{{ site.githubUsername }}
    </a>
    <a class="button button-secondary" [href]="site.spotifyProfileUrl" target="_blank" rel="noopener noreferrer">
      Spotify profile
    </a>
    <a class="button button-secondary" [href]="'mailto:' + site.email">
      Email me
    </a>
  </div>
</section>
